@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.card {
  aspect-ratio: 1 / 1;
  width: 100px;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.55s;
}

.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  border-radius: 5px;
  box-shadow: 0 0 10px #0003;
  border: 2px solid #f1f1f1;
}

.card-front {
  background-color: #f1f1f1;
  transform: rotateY(180deg);
  font-size: 83px;
}

.card-back {
  background-color: #004aad;
  background: linear-gradient(180deg, #bad9f8 0%, rgba(129, 178, 250, 1) 100%);
  color: #004aad;
  font-family: sans-serif;
  border: 6px solid #f1f1f1;
  user-select: none;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-family: 'Orbitron', sans-serif;
}

.card-back:hover,
.card-back:focus {
  box-shadow: 0 0 10px #004aad;
}

.disabledCard {
  pointer-events: none;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 80px;
    border-radius: 5px;
  }

  .card-front {
    font-size: 63px;
  }

  .card-back {
    border: 5px solid #f1f1f1;
    font-size: 1.1rem;
  }

}

@media only screen and (max-width: 400px) {
  .card {
    width: 70px;
    border-radius: 5px;
  }

  .card-front {
    font-size: 58px;
  }

  .card-back {
    border: 5px solid #f1f1f1;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 300px) {
  .card {
    width: 60px;
    border-radius: 5px;
  }

  .card-front {
    font-size: 48px;
  }

  .card-back {
    border: 5px solid #f1f1f1;
    font-size: 0.8rem;
  }

  body {
    background-color: lightgoldenrodyellow;
  }
}
